html
	font-size 625%
	height 100%
body
	font-size .16em
	height 100%
	background-color bgcolor
h1,h2,h3,h4,h5,h6
	margin 0
@media (max-width tab)
	.nosp
		display none
@media (min-width tab)
	.onsp
		display none !important