a.button
	width 8em
	line-height 3em
	box-sizing border-box
	font-weight bold
	text-decoration none
	text-align center
	display block
	background-color accentcolor
	color barcolor
.button.large
	font-size .3rem