header
	width 100%
	height .75rem
	background-color barcolor
	box-shadow 0 0 2em textcolor
	*
		font-size .3rem
		color accentcolor
.header_wrap
	height 100%
	display flex
	justify-content center
	align-items center
	max-width 1200px
	margin 0 auto
	@media (max-width tab)
		justify-content left
h2
	margin-left 1em
h1.nosp
	width 250px
	margin-left auto
	img
		height 50px
