extends _include/_layout.pug

block vars
	- var pagetitle = `START`;

block sections
	div#index_wrap
		div#index_left.nosp
		div#index_right
			div#index_right_button
				a.button.large(href="#") 部屋作成
				a.button.large(href="#") 入室
		